
<title>{{ title }}</title>
<main>
    <div class="row">
        <div class="col s3">
            <!--side bar-->
            <ul id="slide-out" class="side-nav fixed">
                <li><div class="user-view">
                    <div class="background center" style="padding-top: 10px; background-color: rgb(68, 94, 135)">
                        <img src="components/main/logo.png" style="width: 200px; filter: brightness(50%)">
                    </div>
                    <a><img class="circle" src="components/main/hishiro.jpg"></a>
                    <a><span class="white-text name">Admin JPweb</span></a>
                    <a><span class="white-text email">JPweb@gmail.com</span></a>
                </div></li>
                <li><strong class="subheader"><i class="material-icons" style="float: left; margin: 10px 10px 0 20px">account_circle</i>Quản lý người dùng</strong></li>
                <li><a class="waves-effect" ng-click="showUser()">Danh sách người dùng</a></li>
                <li><div class="divider"></div></li>
                <li><strong class="subheader"><i class="material-icons" style="float: left; margin: 10px 10px 0 20px">book</i>Quản lý tài liệu</strong></li>
                <li><a class="waves-effect" ng-click="showBook()">Danh sách tài liệu</a></li>
                <li><a class="waves-effect" ng-click="showNewBook()">Thêm tài liệu</a></li>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" ng-click="out()"><i class="material-icons" style="float: left">exit_to_app</i>Đăng xuất</a></li>
         </ul>
        </div>

        <!--main: danh sach nguoi dung-->
        <div class="col s9" ng-show="user()">
            <div class="white center size_admin" style="overflow: auto">
                <h3>Danh sách người dùng</h3>

                <div style="padding: 20px 50px">
                    <table class="striped">
                        <thead>
                        <tr class="center-align">
                            <th>Tên đăng nhập</th>
                            <th>Email</th>
                            <th>Mật khẩu</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in listUser">
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.password_digest }}</td>
                                <td>
                                    <a class='btn-floating horizontal green tooltipped'  data-position="bottom" data-delay="50" data-tooltip="I am a tooltip" ng-click="dropdown()"
                                       data-activates= '{{ user.id }}'><i class="material-icons" ng-click="userProfile(user.id)">account_circle</i>
                                    </a>
                                    <a class='btn-floating horizontal red right tooltipped' data-position="top"
                                       data-delay="50" data-tooltip="Xóa tài khoản" ng-click="deleteUser(user.id)"
                                       data-activates= '{{ user.id }}'><i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--main: danh sach tai lieu-->
        <div class="col s9" ng-show="book()">
            <div class="white center size_admin" style="overflow: auto">
                <h3>Danh sách tài liệu</h3>

                <div style="padding: 20px 50px">
                    <table class="striped">
                        <thead>
                        <tr>
                            <th>Tên sách</th>
                            <th>Trình độ</th>
                            <th>Giá</th>
                            <th>Ảnh minh họa</th>
                            <th>Mô tả</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="book in listBook">
                            <td>{{ book.Ten }}</td>
                            <td>{{ book.TrinhDo }}</td>
                            <td>{{ book.Gia }}VND</td>
                            <td><img src="{{ book.AnhMinhHoa }}" style="width: 100px"></td>
                            <td>{{ book.Mota }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--main: them tai lieu-->
        <div class="col s9" ng-show="newBook()">
            <div class="white center size_admin" style="overflow:auto;">
                <h3>Thêm tài liệu mới</h3>
                <div class="row">
                    <div class="col s1"></div>
                    <div class="col s11 left-align" >
                        <a class="black-text">Tên tài liệu:</a>
                        <div class="input-field inline">
                            <input id="bookname" type="text" class="validate">
                            <label for="bookname">Tên tài liệu</label>
                        </div>
                    </div>
                    <form class="col s12 row" action="#" style="padding-left: 0">
                        <div class="col s1"></div>
                        <a class="black-text col s2 left-align">Chọn trường dữ liệu:</a>
                        <p class="col s4">
                            <input class="with-gap" name="type" type="radio" id="vocab" ng-click="choose(0)"/>
                            <label for="vocab">Từ vựng</label>
                        </p>
                        <p class="col s4">
                            <input class="with-gap" name="type" type="radio" id="grammar" ng-click="choose(1)"/>
                            <label for="grammar">Ngữ pháp</label>
                        </p>
                        <div class="col s1"></div>
                    </form>

                    <!--nhap moi tu vung-->
                    <div class="col s12 row" ng-repeat="ID in arrayID" ng-show="newVocab()">
                        <a class="col s1 red-text"><i class="material-icons" style="float: left; margin-top: 20px" ng-click="deleteNew($index)">clear</i></a>
                        <div class="input-field col s1">
                            <input id="Unit" type="number" class="validate">
                            <label for="Unit">Bài</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="Japanese" type="text" class="validate">
                            <label for="Japanese">âm Nhật</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="Kanji" type="text" class="validate">
                            <label for="Kanji">âm Hán</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="Vietnamese" type="text" class="validate">
                            <label for="Vietnamese">Nghĩa</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="Example" type="text" class="validate">
                            <label for="Example">Ví dụ</label>
                        </div>
                        <a class="col s1 green-text"><i class="material-icons" style="float: right; margin-top: 20px" ng-click="addNew()">add_box</i></a>
                    </div>

                    <!--nhap moi ngu phap-->
                    <div class="col s12 row" ng-repeat="ID in arrayGramID" ng-hide="newVocab()">
                        <a class="col s1 red-text"><i class="material-icons" style="float: left; margin-top: 20px" ng-click="deleteGramNew($index)">clear</i></a>
                        <div class="input-field col s1">
                            <input id="UnitGram" type="number" class="validate">
                            <label for="UnitGram">Bài</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="JapGram" type="text" class="validate">
                            <label for="JapGram">Ngữ pháp</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="MeanGram" type="text" class="validate">
                            <label for="MeanGram">Nghĩa</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="ExGram" type="text" class="validate">
                            <label for="ExGram">Ví dụ</label>
                        </div>
                        <a class="col s1 green-text"><i class="material-icons" style="float: right; margin-top: 20px" ng-click="addGramNew()">add_box</i></a>
                    </div>
                </div>

                <a class="btn blue waves-effect waves-light white-text"><i class="material-icons" style="float: left">save</i>Lưu tài liệu</a>
            </div>
        </div>
    </div>

    <!--modal user'profile-->
    <div class="modal modal-fixed-footer" id="userProfile">
        <div class="modal-content">
            <p class="meanTitle center-align green-text">Thông tin người dùng</p>
            <p class="black-text">Tên người dùng: {{ profile.username }}</p>
            <p class="black-text">Mật khẩu: {{ profile.password_digest }} <a class="btn blue waves-light waves-effect white-text">Đặt lại mật khẩu</a></p>
            <p class="black-text">Email: {{ profile.email }}</p>
            <p class="black-text">Tài liệu sở hữu:</p>
        </div>

        <div class="modal-footer">
            <p class="modal-action modal-close btn-flat">Đóng</p>
        </div>
    </div>
</main>
